<%# provide(:title, 'Home') %>
<div class="center hero-unit">
  <h1>Welcome to the LinkedApp</h1>


  <h2>
    What do you wanna do for our next catch up?
  </h2>

  <% if current_user %>
    Signed in as <strong><%= current_user.name %></strong>!
    <%= link_to "Sign out", signout_path, class: "btn btn-large btn-primary" %>
  <% else %>
    <%= link_to "Sign in with Facebook now!", '/auth/facebook', class: "btn btn-large btn-primary" %>
  <% end %>

</div>


